<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Spencer's Portfolio:</h1>
    <p class="lead text-muted">These are all of the diferent things that I've learned how to use, either personally or proffesionally.</p>
    <p>
      <%= link_to 'More about me!', about_path, class: 'btn btn-primary' %>
      <%= link_to 'Blog', blogs_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>