<h1>About Me</h1>

<hr>

<div class='row'>
  <div class='col-md-4'>
    <%= image_tag 'Midna.jpg', width: 300, alt: 'Profile image' %>
  </div>
  <div class='col-md-8'>
    <p>
      With almost a decade of experience in full stack, and video game development, I have a fairly good understanding of most things code. And most things, use code.
    </p>
  </div>
</div>
