<div class="inner cover">
  <h1 class="cover-heading">News from twitter!</h1>
  
  <div class="row">
    <% @tweets.each do |x| %>
      <div class='col-md-6'>
        <div class='news'>
          <div class='card'>
            <%= twitter_parser x %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>